/* @media (max-width: 768px) {
    .h-control{
        height: 30rem;
    }
} */
@media (max-width:990px) {
    .h-control{
        height: 30rem;
        margin-right: 1rem;
    }
    .dfs{
        font-size: 3.4rem !important;
    }
    .icon-link img{
        width: 18%;
        height: 73%;
    }
    .title-h1{
        line-height: 3rem;
    }
    .brand-footer{
        width: 50% !important;
    }
}